<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_2wUQXe5vSSi8p0KCh387GT3XmmKe1a03dRuvU4ezwSOQNFcJ4pxrxAcYAftYl_m4cDQ&usqp=CAU"
    />
    <title>Product Details</title>
    <link rel="stylesheet" href="/css/description.css" />
    <link rel="stylesheet" href="/css/myntra.css" />
  </head>
  <body>
    <!-- <div id="navbar"></div> -->
    <!------- Navbar Starts Here ----->

    <%- include ("partials/navbar.partials.ejs") %>

    <!------- Navbar Ends Here ------->
    <div id="Myn_pro"></div>
    <!-- <footer id="footer"></footer> -->

    <%- include ("partials/footer.partials.ejs") %>

    <!-- <h2 style="color:red"><product.title%></h2> -->
    <script>
      let data = JSON.parse(`<%- product%>`);

      console.log(data);
    </script>
    <!------- footer Ends Here ------->
  </body>
</html>
<script src="/javascrippt/myntrascript.js"></script>
<script src="/javascrippt/decription.js"></script>
